* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 10vh;
}

.img-header {
    height: 50%;
    width: 50%;
}

nav {
    background-color: #FFF112;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font: bold 1.3rem sans-serif;
    text-transform: uppercase;
    color: grey;
}

ul li {
    padding: 0 .5em .25em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

ul li:hover {
    color: #fff;
}

ul li:before {
    content: "";
    position: absolute;
    inset: calc(100% - 3px) 0 0 0;
    /* 3px = the thickness */
    background: #000000;
    /* the color */
    scale: 0 1;
    transition: .3s, translate 0s .3s;
}

ul:hover li:before {
    scale: 1;
}

ul li:hover:before {
    translate: 0;
    transition: .3s;
}

ul:hover li:has(~ li:hover):before {
    translate: 100% 0;
    transition: .2s .2s, scale 0s .4s;
}

ul:hover li:hover~li:before {
    translate: -100% 0;
    transition: .2s .2s, scale 0s .4s;
}

.dropdown-menu {
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}

.dropdown-menu a {
    display: block;
    color: black;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#search {
    box-shadow: 0px 0px 5px 2px rgb(180, 175, 175);
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 10px;

}

#search:focus-visible {
    outline: none;
}

.divisao-compras {
    display: flex;
}

.carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

.carrinho div {
    display: flex;
    gap: 20vh
}

.carrinho label {
    margin-top: 5px
}

.carrinho button {
    background-color: #FFF112;
    border: none;
    border-radius: 5px;
    width: 8vw;
    height: 5vh;

}

.carrinho button:hover {
    transform: scale(1.1);

}

.compras {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.compras input {
    cursor: pointer;
}

.produtos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    position: relative;
    border: 1px #000000 solid ;
    border-radius: 5px;
}

.produtos img {
    height: 10vh;
    width: 10vw;
    padding-left: 9px;
}

.labels {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formExcluir {
    width: 3vw;
    height: 3vh;
    position: absolute;
    right: 0;
}

.formExcluir button {
    border: none;
    background-color: transparent;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF112;
    height: 10vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    
}

footer p {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}