body{
    overflow-x: hidden;
}
.cartaoCC {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 25vw;
    height: 50vh;
    padding: 16px;
    margin-top: 1em;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    align-items: center;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 69.4vh;
}

.btnFinalizar {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 4px;
    width: 23vw;
    height: 6vh;
    color: white;
    background-color: black;
}

.btnFinalizar:hover {
    transform: scale(1.05);
    background-color: #000000;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

input {
    border-radius: 4px;
    border: 1px solid black;
    outline: none;
    height: 40px;
    padding-left: 8px;
}

.btnPix {
    background-color: white;
    height: 100px;
    width: 100px;
    border: 1px black solid;
}

.btnCartao {
    background-color: white;
    height: 100px;
    width: 100px;
    border: 1px black solid;
}

.btnCartao:hover,
.btnPix:hover {
    transform: scale(1.05);

}

#pix {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.img-qr {
    height: 35vh;
    width: 20vw;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF112;
    height: 10vh;
    width: 100vw;
    position: absolute;
    bottom: 0;

}

footer p {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

@media all and (max-width:768px) {
    main {
        height:  78.4vh;
        display: flex;
        flex-direction: column;
    }

    .cartaoCC {
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        width: 90vw;
        height: 56vh;
        margin-top: 1em;
    }

    .btnFinalizar {
        margin-top: 1vh;
        border: 1px solid black;
        border-radius: 4px;
        width: 82vw;
        height: 6vh;
        color: white;
        background-color: black;
    }

    .btnFinalizar:hover {
        transform: scale(1.05);
        background-color: #000000;
    }

    .me-5 {
        margin-right: 0rem !important;
    }
    .label{
        font-size: 10px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    input {
        border-radius: 4px;
        border: 1px solid black;
        outline: none;
        height: 40px;
        padding-left: 8px;
    }

    .img-qr {
        height: 30vh;
        width: 60vw;
    }

    .btnPix {
        background-color: white;
        height: 100px;
        width: 100px;
        border: 1px black solid;
    }

    .btnCartao {
        background-color: white;
        height: 100px;
        width: 100px;
        border: 1px black solid;
    }

}