.produtos {
  position: relative;
  overflow: hidden;
  padding: 2vw;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.produto-container {
  padding: 0 2vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.produto-card {
  flex: 0 0 auto;
  width: 12vw;
  height: 42vh;
  margin: 4px 10px;
  border: 1px #cee2e6 solid;
  padding: 3px 5px;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.247);
  border-radius: 10px;
}

.produto-imagem {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
  padding: 2px 1px;
}

.produto-capa {
  width: 100%;
  height: 15vh;
  object-fit: contain;
}

.tag-desconto {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

#div-valor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#div-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-btn {
  margin-top: 10px;
  padding: 4px;
  padding-bottom: 5px;
  width: 45%;
  height: 60%;
  position: relative;
  bottom: 0;
  text-transform: capitalize;
  border: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
  opacity: 1;
  font-size: 0.6rem;
  font-weight: 600;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.27);
  overflow: hidden;
  background-color: green;
  color: yellow;
}

.card-btn:hover {
  background-color: yellow;
  color: green;
}

.produto-info {
  width: 100%;
  height: 50%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.produto-info div {
  height: 50%;
}

#quantidade {
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin: 5px 0;
  display: flex;
  justify-content: center;
}

.preco {
  font-weight: 900;
  font-size: 20px;
}

.valor {
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

@media (min-width:600px )and (max-width:799px) {
  .produto-card {
    min-width: 30vw;
    max-height: 35vh;
  }
  #div-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-btn {
    margin-top: 10px;
    padding: 4px;
    padding-bottom: 5px;
    width: 50%;
    height: 60%;
    position: relative;
    bottom: 0;
    text-transform: capitalize;
    border: none;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
    opacity: 1;
    font-size: 0.6rem;
    font-weight: 600;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.27);
    overflow: hidden;
    background-color: green;
    color: yellow;
  }
  
  .card-btn:hover {
    background-color: yellow;
    color: green;
  }

  .produto-info {
    width: 103%;
    height: 50%;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .produto-imagem {
    position: relative;
    width: 100%;
    height: 45%;
    overflow: hidden;
    padding: 2px 1px;
  }
}
@media all and (max-width:599px) {
  .produto-card {
    min-width: 50vw;
    max-height: 40vh;
  }
  #div-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tag-desconto {
    position: absolute;
    background: #fff;
    padding: 0px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }
  
  
  .card-btn {
    margin-top: 10px;
    padding: 4px;
    padding-bottom: 5px;
    width: 53%;
    height: 60%;
    position: relative;
    bottom: 0;
    text-transform: capitalize;
    border: none;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
    opacity: 1;
    font-size: 0.6rem;
    font-weight: 600;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.27);
    overflow: hidden;
    background-color: green;
    color: yellow;
  }
  
  .card-btn:hover {
    background-color: yellow;
    color: green;
  }

  .produto-info {
    width: 103%;
    height: 50%;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .produto-imagem {
    position: relative;
    width: 100%;
    height: 40%;
    overflow: hidden;
    padding: 2px 1px;
  }
}
@media (min-width:800px )and (max-width:1361px){
  .produto-card {
      min-width: 20vw !important;
      max-height: 39vh !important;
  }
} 